%footer
  .footer-top
    .footer-top__center
      .footer-top__center__left
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .footer-top__center__left__icons
          %figure.icon
            =image_tag 'mercari_icon.png', size: '68x68'
            =link_to "#" do
              =image_tag "app-store.svg", width: 133, height: 40
            =link_to "#" do
              =image_tag "google-play.svg", width: 133, height: 40
      %figure.footer-top__center__right
        =image_tag 'iphone.png', size: '300x260'
  .footer-bottom
    %nav.footer-bottom__top
      .merukari.footer-bottom__menu
        %h2 メルカリについて
        %ul
          %li 会社概要 (運営会社)
          %li 採用情報
          %li プレスリリース
          %li 公式ブログ
          %li メルカリロゴ利用ガイドライン
          %a(href="#")
          %a(href="#")
      .help.footer-bottom__menu
        %h2 ヘルプ＆ガイド
        %ul
          %li メルカリガイド
          %li らくらくメルカリ便
          %li ゆうゆうメルカリ便
          %li 大型メルカリ便
          %li 車体取引ガイド
          %li メルカリあんしん・あんぜん宣言！
          %li 偽ブランド品撲滅への取り組み
          %li メルカリボックス
      .privacy.footer-bottom__menu
        %h2 プライバシーと利用規約
        .privacy__menu__left.menu
          %ul
            %li プライバシーポリシー
            %li メルカリ利用規約
            %li 
              あんしんスマホサポート制度に関
              %br
              する利用規約
            %li コンプライアンスポリシー
        .privacy__menu__right.menu
          %ul
            %li
              個人データの安全管理に係る基本
              %br
              方針
            %li 特定商取引に関する表記
            %li 資金決済法に基づく表示
            %li 法令順守と犯罪抑止のために
      .country.footer-bottom__menu
        %h2 国
        %ul
          %li 日本
          %li United States
    .footer-bottom__down
      =image_tag 'logo-white.svg',class:"footer-mel"
      %span © 2019 Mercari