.item-container
  %ul.item-container__lists
    - @items.each do |item| 
      %li.item-container__lists__list
        .item-box
          =link_to "https://item.mercari.com/jp/m87552858444/", class: "item-link" do
            %figure.item-descrube
              %figcaption
                %span
                  = item.name
              .item-price
                %span{"aria-label": "Price"}
                  ¥
                  = item.price
                  = image_tag item.images.last.image_url, width: "188px", height: "188px", class: 'item-photo'