.item-container
  %ul.item-container__lists
    - @items.each do |item| 
      %li.item-container__lists__list
        .item-box 
          =link_to item_path(item.id), class: "item-link" do
            %figure.item-descrube
              %figcaption
                %span
                  = item.name
              .item-price
                %span{"aria-label": "Price"}
                  ¥
                  = item.price
                -# = image_tag item.images.first.image_url, class: 'item-photo'
                
