.likes-contents
  .likes-contents__title
    %h3.title-text
      いいね!した商品
    = link_to list_likes_items_mypage_path(current_user), class: 'all-list' do
      全て見る
      = fa_icon 'chevron-right'
  .likes-contents__items
    .swiper-container3
      .swiper-wrapper
        - current_user.likes.each do |like|
          .swiper-slide
            =link_to item_path(like.item.id), class: "likes-box", data: {"turbolinks" => false} do
              %figure.likes-box__inner
                .likes-item
                  %span.price
                    ¥
                    = like.item.price
                  = image_tag like.item.images[0].image.url
              - if like.item.order_status == 1
                .souldout
                  %div SOLD