%nav.breadcrumbs
  %ul
    %li{ itemscope: "", itemtype: "#"}
      = link_to "", href: "#", itemprop: "url" do
        %span{ itemprop: "title"}
          メルカリ
          = fa_icon 'chevron-right'
    %li{ itemscope: "", itemtype: "#"}
      %span{ itemprop: "title"}
        マイページ
        = fa_icon 'chevron-right'
    %li{ itemscope: "", itemtype: "#"}
      %span{ itemprop: "title"}
        支払い方法