- @items.each do |item|
  %section.items-box
    =link_to item_path(item.id) do
      %figure.items-box__image
        = image_tag item.images[0].image.url
      .items-box__body
        %h3.items-box__body--name
          = item.name
        .items-box__body--price
          ¥
          = item.price