%section.items-box
  =link_to '#' do
    %figure.items-box__image
      %img(src= "https://static.mercdn.net/item/detail/orig/photos/m88330665818_1.jpg?1573878548")
    .items-box__body
      %h3.items-box__body--name
        サンプルサンプルサンプル
      .items-box__body--price
        ¥3,000
%section.items-box
  =link_to '#' do
    %figure.items-box__image
      %img(src= "https://static.mercdn.net/item/detail/orig/photos/m88330665818_1.jpg?1573878548")
    .items-box__body
      %h3.items-box__body--name
        サンプルサンプルサンプル
      .items-box__body--price
        ¥3,000
%section.items-box
  =link_to '#' do
    %figure.items-box__image
      %img(src= "https://static.mercdn.net/item/detail/orig/photos/m88330665818_1.jpg?1573878548")
    .items-box__body
      %h3.items-box__body--name
        サンプルサンプルサンプル
      .items-box__body--price
        ¥3,000
%section.items-box
  =link_to '#' do
    %figure.items-box__image
      %img(src= "https://static.mercdn.net/item/detail/orig/photos/m88330665818_1.jpg?1573878548")
    .items-box__body
      %h3.items-box__body--name
        サンプルサンプルサンプル
      .items-box__body--price
        ¥3,000
%section.items-box
  =link_to '#' do
    %figure.items-box__image
      %img(src= "https://static.mercdn.net/item/detail/orig/photos/m88330665818_1.jpg?1573878548")
    .items-box__body
      %h3.items-box__body--name
        サンプルサンプルサンプル
      .items-box__body--price
        ¥3,000
%section.items-box
  =link_to '#' do
    %figure.items-box__image
      %img(src= "https://static.mercdn.net/item/detail/orig/photos/m88330665818_1.jpg?1573878548")
    .items-box__body
      %h3.items-box__body--name
        サンプルサンプルサンプル
      .items-box__body--price
        ¥3,000