.footer
  .footer__nav
    .footer__nav__li1
      プライバシポリシー
    .footer__nav__li2
      メルカリ利用規約
    .footer__nav__li3
      特定商取引に関する表記
  .footer__logo
    %img= embedded_svg("red.svg", class: "footer__logo") 
  .footer__copyright
    ◯ 2019 Merukari