= render "devise_header"
.end_content
  .end_content__top
    会員登録完了
  .end_content__main
    .end_content__main__text
      ありがとうございます。
      %br/
      会員登録終了しました。
    .end_content__main__btn
      メルカリを始める
.download
  .complete_box
    = image_tag "merukari.png", class: "complete_img"
  .download__icon1
    =image_tag "appstore.svg",size:'190x60'
  .download__icon2
    =image_tag "google.svg",size:'190x60'

= render "devise_addfooter"