* {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


/* button */

.btn-default-value{

  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
.btn-color-red {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
}


/* breadcrumbs */

.breadcrumbs {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  ul {
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
  }
  li {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
  }
  li:last-child{
    font-weight: 600;
  }
  .fa-chevron-right{
    margin: 0 8px;
    font-size: 9px;
    color: #888;
  }
}


/* body */ 


.personal-container{
  float: right;
  width: 700px;
}

.personal-content{
  margin: 0;
  background: #fff;
  h2{
    padding: 8px 24px;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
  }
  form{
    padding: 64px 64px 40px 64px;
    border-top: 1px solid #fafafa;
    p{
      margin: 8px 0 0;
      line-height: 1.5;
    }
    .text__link{
      text-align: right;
      a{
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
  &__info{
    margin: 40px 0 0;
    label{
      font-weight: 600;
    }
    p{
      margin: 8px 0 0;
      line-height: 1.5;
    }
    .default-value{
      width: 100%;
      margin: 8px 0 0;
      height: 48px;
      padding-left: 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    .select-prefecture{
      margin: 8px 0 0;
      position: relative;
      background: #fff;
      i{
        position: absolute;
        right: 8px;
        top: 50%;
        z-index: 2;
        color: #888;
        font-size: 16px;
        transform: translate(0, -50%);
      }
      select{
        width: 100%;
        position: relative;
        z-index: 2;
        height: 48px;
        padding-left: 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: 0;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        -webkit-appearance: none;
      }
    }
  }
  &__link{
    text-align: right;
    padding-right: 64px;
    padding-bottom: 64px;
    p{
      line-height: 1.5;
      a{
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
}





/* logout */

.logout-container{
  float: right;
  width: 700px;
}
  .logout-content{
    margin: 0;
    background: #fff;
    &__form{
      padding: 64px;
      border-top: 1px solid #f5f5f5;
    }
    &__btn-wrapper{
      max-width: 320px;
      margin: 0 auto;
    }  
  }


/* profilr edit */

.profile-edit-container{
  float: right;
  width: 700px;
}

.profile-edit-content{
  background: #fff;
}

.profile-edit-title{
  text-align: center;
  font-size: 24px;
  padding: 8px 24px;
  line-height: 1.4;
  border-bottom: 1px solid #f5f5f5;
}

.profile-edit-wrapper{
  &__upper{
    padding: 72px 16px 24px;
    background: url("mypage_back.jpg");
    text-align: center;
    // font-size: 0;
    figure{
      display: inline-block;
      overflow: hidden;
      border-radius: 50%;
      vertical-align: middle;
      img{
        vertical-align: middle;
      }
    }
    input{
      // font-size: 1rem;
      width: 220px;
      vertical-align: middle;
      margin:  0 0 0 8px;
      height: 48px;
      background: #fff;
      border-radius: 4px;
      border: 1px solid #eee;
      padding-left: 10px;
    }
  }
  &__bottom{
    padding: 40px 16px;
    .btn-color-red{
      margin: 16px 0 0;
    }
  }
  &__textarea{
    min-height: 216px;
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
}
