* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

.sell-main {
  display: block;
}

.item-container {
  width: 700px;
  margin: 0 auto;
  background: #fff;
}

.sell-container-inner__title {
  padding: 32px 16px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333;
  font-weight: 600;
}

.sell-form{
  border-top: 1px solid  #eee; 
}

.upload-box {
  width: 620px;
  padding: 40px;
  p{
    margin: 8px 0 0;
    line-height: 1.5;
  }
  &__header {
    font-size: 16px;
    font-weight: 600;
    &__required {
      background: #ea352d;
      color: #fff;
      margin: 0 0 0 8px;
      font-size: 12px;
      padding: 2px 4px;
      border-radius: 2px;
      vertical-align: top;
      display: inline;
    }
  }
}

.upload-container {
  width: 620px;
  display: block;
  margin: 16px auto 0;
  content: '';
  clear: both;
}

.upload-items {
  display: inline;
  &__item {
    float: left;
    display: block;
  }
}

.upload-dropbox {
  width: 100%;
  padding: 60px 40px 40px;
  margin-left: 0;
  position: relative;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  text-align: center;
  transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
  cursor: pointer;
  &__input{
    border: 0;
    outline: 0;
    font-family: inherit;
    -webkit-appearance: none;
  }
}

.sell-content {
  padding: 40px;
  border-top: 1px solid #eee;
  label {
    font-weight: 600;
    margin: 0;
  }
}

.sell-title-label__input {
  width: 100%;
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  font-size: 16px;
}

.sell-content-explanation{
  margin-top: 40px;
  &__input {
    margin: 8px 0 0;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    line-height: 1.5;
  }
}

.prodcts-detail {
  padding: 40px;
  border-top: 1px solid #eee;
  height: 261px;
  &__label{
    float: left;
    color: #888;
    font-size: 14px;
    font-weight: 600;
  }
  &__box{
    float: right;
    width: 400px;
    margin: 0;
  }
}

.prodcts-category {
  margin: 0px;

  label {
    font-weight: 600;
    margin: 0;
  }
  span {
    background: #ea352d;
    color: white;
    font-size: 12px;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: 8px;
    display: inline;
  }
}

.category-container {
  margin: 8px 0 0;
  // &__icon {
  // }
  &__select {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    border: 1px solid #ccc;
    background-color: #fff
  }
}

.prodcts-status {
  margin-top: 40px;
  label {
    font-weight: 600;
    margin: 0;
  }
  span {
    background: #ea352d;
    color: white;
    font-size: 12px;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: 8px;
    display: inline;
  }
}

.status-container {
  margin: 8px 0 0;
  // &__icon {
  // }
  &__select {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    border: 1px solid #ccc;
    background-color: #fff
  }
}

.prodcts-delivery{
  padding: 40px;
  border-top: 1px solid #eee;
  height: 371px;
  &__label {
    float: left;
    color: #888;
    font-size: 14px;
    font-weight: 600;
  }
}

// .question-icon {
// }

.delivery-box {
  float: right;
  width: 400px;
  margin: 0;
  label {
    font-weight: 600;
    margin: 0;
  }
  &__content {
    margin-top: 40px;
  }
}

.required {
  background: #ea352d;
  color: white;
  font-size: 12px;
  padding: 2px 4px;
  vertical-align: top;
  margin-left: 8px;
  display: inline;
}

.delivery-container {
  margin-top: 8px;
  &__select {
    height: 48px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0 16px;
  }
}

.prodcts-price {
  padding: 40px;
  border-top: 1px solid #eee;
  height: 299px;
  &__label {
    float: left;
    color: #888;
    font-size: 14px;
    font-weight: 400;
  }
}

.price-box {
  float: right;
  width: 400px;
  margin: 0;
  &__lists__price {
    padding: 0 0 24px;
  }
  &__lists__fee {
    padding: 24px 0;
    border-top: 1px solid #ccc;
  }
}

.fee-label {
  float: left;
}

.price-content {
  label {
    width: 50%;
    line-height: 48px;
    font-weight: 600;
    margin: 0;
    float: left;
  }
}

.price-input {
  width: 50%;
  float: right;
  text-align: right;
  &__form {
    height: 48px;
    text-align: right;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 85%;    
  }
}