// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * {
//   background-repeat: no-repeat;
//   margin: 0;
//   padding: 0;
// }

// body {
//   position: relative;
//   min-height: 100%;
//   background: #f5f5f5;
//   font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
//   font-size: 14px;
//   color: #333;
//   line-height: 1;
// }

select {
  outline: 0;
  -webkit-appearance: none;
}

.question-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: $white;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.sell-container {
  padding: 0 0 70px;
}

.sell-header {
  height: 128px;
  text-align: center;
  h1{
    margin: 40px 0 0;
    display: inline-block;

    a {
      width: 185px;
      height: 49px;
      line-height: 49px;
      img {
        width: 185px;
        height: 49px;
      }
    }
  }
}


.sell-main {
  display: block;
}

.item-sell-container {
  width: 700px;
  margin: 0 auto;
  background: $white;
}

.sell-container-inner__title {
  padding: 32px 16px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  color: #333;
  font-weight: 600;
}

.sell-form{
  border-top: 1px solid  $boder; 
}

.upload-box {
  width: 620px;
  padding: 40px;
  p{
    margin: 8px 0 0;
    line-height: 1.5;
  }
  &__header {
    font-size: 16px;
    font-weight: 600;
    &__required {
      background: $red;
      color: $white;
      margin: 0 0 0 8px;
      font-size: 12px;
      padding: 2px 4px;
      border-radius: 2px;
      vertical-align: top;
      display: inline;
    }
  }
}

.upload-container {
  width: 620px;
  display: block;
  margin: 16px auto 0;
  content: '';
  clear: both;
}

.upload-items {
  display: inline;
  &__item {
    float: left;
    display: block;
  }
}

.upload-dropbox {
  width: 100%;
  padding: 60px 40px 40px;
  margin-left: 0;
  position: relative;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed $selectbox;
  text-align: center;
  cursor: pointer;
  &__input{
    border: 0;
    outline: 0;
    font-family: inherit;
    -webkit-appearance: none;
  }
}

.sell-content {
  padding: 40px;
  border-top: 1px solid $boder;
  label {
    font-weight: 600;
    margin: 0;
  }
}

.sell-title-label__input {
  width: 100%;
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  font-size: 16px;
}

.sell-content-explanation{
  margin-top: 40px;
  &__input {
    margin: 8px 0 0;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid $selectbox;
    line-height: 1.5;
  }
}

.prodcts-detail {
  padding: 40px;
  border-top: 1px solid $boder;
  height: 261px;
  &__label{
    float: left;
    color: $label;
    font-size: 14px;
    font-weight: 600;
  }
  &__box{
    float: right;
    width: 400px;
    margin: 0;
  }
}

.prodcts-category {
  margin: 0px;

  label {
    font-weight: 600;
    margin: 0;
  }
  span {
    background: $red;
    color: $white;
    font-size: 12px;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: 8px;
    display: inline;
  }
}

.category-container {
  margin: 8px 0 0;
  position: relative;
  i{
    position: absolute;
    left: 90%;
    color: $label;
    font-size: 25px;
    top: 28%;
  }
  &__select {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    border: 1px solid $selectbox;
    background-color: $white
  }
}

.prodcts-status {
  margin-top: 40px;
  label {
    font-weight: 600;
    margin: 0;
  }
  span {
    background: $red;
    color: $white;
    font-size: 12px;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: 8px;
    display: inline;
  }
}

.status-container {
  margin: 8px 0 0;
  position: relative;
  i{
    position: absolute;
    left: 90%;
    color: $label;
    font-size: 25px;
    top: 28%;
  }
  &__select {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    border: 1px solid $selectbox;
    background-color: $white
  }
}

.prodcts-delivery{
  padding: 40px;
  border-top: 1px solid $boder;
  height: 371px;
  &__label {
    float: left;
    color: $label;
    font-size: 14px;
    font-weight: 600;
  }
}


.delivery-box {
  float: right;
  width: 400px;
  margin: 0;
  label {
    font-weight: 600;
    margin: 0;
  }
  &__content {
    margin-top: 40px;
  }
}

.required {
  background: $red;
  color: $white;
  font-size: 12px;
  padding: 2px 4px;
  vertical-align: top;
  margin-left: 8px;
  display: inline;
}

.delivery-container {
  margin-top: 8px;
  position: relative;
  i{
    position: absolute;
    left: 90%;
    color: $label;
    font-size: 25px;
    top: 28%;
  }
  &__select {
    height: 48px;
    width: 100%;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $selectbox;
    padding: 0 16px;
  }
}

.prodcts-price {
  padding: 40px;
  border-top: 1px solid $boder;
  height: 299px;
  &__label {
    float: left;
    color: $label;
    font-weight: 600;
    font-size: 14px;
  }
  a {
    display: inline-block;
    width: 14px;
    background: #0099e8;
    color: $white;
    font-size: 12px;
    text-align: center;
  }
}

.price-container {
  float: right;
  width: 400px;

}

.price-lists {
  &__price {
    padding: 0 0 24px;
  }
  &__fee {
    padding: 24px 0;
    border-top: 1px solid $selectbox;
    height: 63px;
  }
  &__profit{
    padding: 24px 0;
    border-top: 1px solid $selectbox;
    font-weight: 600;
    &__label {
      font-size: 16px;
      float: left;
      &__a {
        float: right;
        font-size: 34px;
      }
    }
  }
}

.parice-content {
  &__label {
    width: 50%;
    line-height: 48px;
    margin: 0;

  }
}

.price-input {
  float: right;
  width: 50%;
  text-align: right;
  div {
    width: 80%;
    display: inline-block;
    margin-left: 5%;
  }
  &__form {
    height: 48px;
    border-radius: 4px;
    padding: 10px 16px 8px;
    text-align: right;
    width: 100%;
  }
}

.fee-label {
  float: left;
  &__a {
    float: right;
  }
}

.price-sell{
  padding: 40px;
  border-top: 1px solid $boder;
  p {
    line-height: 1.5;
    a{
      color: #0099e8;
      display: inline;
    }
  }
}

.sell-btn {
  width: 100%;
  margin-top: 40px;
  background: $red;
  color: $white;
  height: 50px;
}

.back-btn {
  width: 45%;
  display: block;
  margin: 24px auto 0;
  background-color: #aaa;
  color: $white;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
}

.sell-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  &__lists {
  }
  li {
    display: inline-block;
    margin-left: 16px;
    font-size: 12px;
  }
  p{
    margin-top: 10px;
  }
}

.sell-logo_link {
  margin: 40px auto 0;
  display: block;
}