%nav.breadcrumbs
  %ul
    %li{ itemscope: "", itemtype: "#"}
      %a{ href: "#", itemprop: "url"}
        %span{ itemprop: "title"}
          メルカリ
          %i.fas.fa-chevron-right
    %li{ itemscope: "", itemtype: "#"}
      %span{ itemprop: "title"}
        マイページ
