%main.container
  .content
    %section.mypage-user-upper
      %a.content-wrapper{href: "#"}
        %figure
          %img{ src: "assets/mypage_back.jpg", alt: "", width: 60, height: 60 }
        %h2.content-wrapper__user-name
          ユーザーネーム
        .content-wrapper__evaluation-exhibit
          %div 
            評価
            %span.content-wrapper__evaluation-exhibit.bold 89
          %div
            出品数
            %span.content-wrapper__evaluation-exhibit.bold 18
