    .tab-wrap
      %input#TAB-01-01.tab-switch{ type: "radio", name: "TAB01", checked: "checked" }
      %label.tab-label{ for: "TAB-01-01" }
        お知らせ
      .tab-content
        .mypage-tabs-content
          %ul.mypage-contents-list
            %li
              %a.mypage-contents-list__link{ href: "", data: { open: "modal", modal: "banner" } }
                %figure
                  %img.app-icon{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg", width: 48, height: 48}
                .mypage-contents-body
                  .mypage-contents-body__text 事務局から個別メッセージ「ログイン通知」
                  %time
                    %i.fas.fa-clock
                    %span 1時間前
                %i.fas.fa-chevron-right
            %li
              %a.mypage-contents-list__link{ href: "", data: { open: "modal", modal: "banner" } }
                %figure
                  %img.app-icon{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg", width: 48, height: 48}
                .mypage-contents-body
                  .mypage-contents-body__text かゆい所に手が届く！厚めの商品発送におすすめの「ゆうパケットプラス」」が新登場！
                  %time
                    %i.fas.fa-clock
                    %span 11日前
                %i.fas.fa-chevron-right
            %li
              %a.mypage-contents-list__link{ href: "", data: { open: "modal", modal: "banner" } }
                %figure
                  %img.app-icon{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg", width: 48, height: 48}
                .mypage-contents-body
                  .mypage-contents-body__text 明日、5％還元クーポンの有効期限有効期限が切れます！タップして詳細を確認しましょう。
                  %time
                    %i.fas.fa-clock
                    %span 13日前
                %i.fas.fa-chevron-right
            %li
              %a.mypage-contents-list__link{ href: "#",}
                %figure
                  %img.app-icon{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg", width: 48, height: 48}
                .mypage-contents-body
                  .mypage-contents-body__text 事務局から個別メッセージ「【お詫び】「クーポンの有効期限」について」
                  %time
                    %i.fas.fa-clock
                    %span 15日前
                %i.fas.fa-chevron-right
            %li.mypage-notice-list
              %a{ href: "#"} 一覧を見る
 
      %input#TAB-01-02.tab-switch{ type: "radio", name: "TAB01" }
      %label.tab-label{ for: "TAB-01-02" }
        やることリスト
      .tab-content
        %ul.todo-list
          %li.todo-contents.bold
            現在やることリストはありません
        
    %section.purchase-wrapper
      %h2.purchase-head
        購入した商品
    .tab-wrap
      %input#TAB-02-01.tab-switch{ type: "radio", name: "TAB02", checked: "checked" }
      %label.tab-label{ for: "TAB-02-01" }
        取引中
      .tab-content
        %ul.todo-list
          %li.todo-contents.bold
            現在やることリストはありません
