      %input#TAB-02-02.tab-switch{ type: "radio", name: "TAB02" }
      %label.tab-label{ for: "TAB-02-02" }
        過去の取引
      .tab-content
        %ul#transactioned.transactioned
          %li
            %a.products-link{ href: "" }
              %figure
                %img.products-pic{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg"}
              .transactioned__body
                .transactioned__text
                  "
                  　　　　「＾＾＾＾＾」を購入しました。
                  　　　　　"
                  %span 取引が完了しました
                .transaction_completed
                  取引完了
              %i.fas.fa-chevron-right
          %li
            %a.products-link{ href: "" }
              %figure
                %img.products-pic{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg"}
              .transactioned__body
                .transactioned__text
                  "
                  　　　　「＾＾＾＾＾」を購入しました。
                  　　　　　"
                  %span 取引が完了しました
                .transaction_completed
                  取引完了
              %i.fas.fa-chevron-right
          %li
            %a.products-link{ href: "" }
              %figure
                %img.products-pic{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg"}
              .transactioned__body
                .transactioned__text
                  "
                  　　　　「＾＾＾＾＾」を購入しました。
                  　　　　　"
                  %span 取引が完了しました
                .transaction_completed
                  取引完了
              %i.fas.fa-chevron-right
          %li
            %a.products-link{ href: "" }
              %figure
                %img.products-pic{ data: { src: "assets/mypage_back.jpg" }, alt: "", src: "assets/mypage_back.jpg"}
              .transactioned__body
                .transactioned__text
                  "
                  　　　　「＾＾＾＾＾」を購入しました。
                  　　　　　"
                  %span 取引が完了しました
                .transaction_completed
                  取引完了
              %i.fas.fa-chevron-right
        %li.mypage-notice-list
          %a{ href: "#"} 一覧を見る
