/* purchase_confirmation */

.purchase-confirmation {
  margin: 0 auto;
  width: 700px;
  background: #fff;
  &__title {
    padding: 16px;
    font-size: 22px;
    text-align: center;
    line-height: 1.5;
  }
  &__item {
    margin: 0;
    padding: 24px 12.5% 0;
    border-top: 1px solid #f5f5f5;
  }
  
}


.purchase-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 0 auto;
  &__image {
    font-size: 22px;
  }
  &__image-adjust {
      width: 64px;
      max-height: 148px;
  }
  &__name {
    margin: 0 0 0 16px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    width: calc(100% - 80px);
  }
}

.purchase-item-form {
  width: 100%;
  &__price{
    margin: 8px 0 0;
    line-height: 1.5;
    font-size: 22px;
  }
  &__postage-included {
    margin: 0 0 0 8px;
    font-size: 14px;
    font-weight: 400;
  }
  &__outer {
    margin: 16px 0 0;
    background: #ccc;
  }
  &__point-grant {
    padding: 16px;
    border: 1px solid #ccc;
    text-align: center;
  }
}

.purchase-item-confirmation {
  display: table;
  width: 100%;
  &__outer {
    display: table-row;
    font-weight: 600;
  }
  &__item-payment {
    text-align: left;
    padding: 16px 0;
    display: table-cell;
    font-size: 18px;
  }
  &__inner {
    text-align: right;
    display: table-cell;
    padding: 16px 0;
  }
  &__payment-amount {
    font-size: 28px;
  }
}


.user-info-wrapper {
  margin: 40px 0 0;
  padding: 24px 12.5% ;
  border-top: 1px solid #f5f5f5;
  padding-bottom: 0;
  &--padding-add {
    padding: 24px 12.5% 40px;
    margin: 40px 0 0;
    border-top: 1px solid #f5f5f5;
  }
}

.customer-confirmation {
  max-width: 320px;
  margin: 0 auto;
  h3 {
    font-size: 14px;
    margin: 0;
  }
  &__address {
    font-style: normal;
    display: block;
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
  }
  &__edit {
    display: block;
    text-align: right;
    color: #0098e8;
    text-decoration: none;
    span {
      vertical-align: middle;
    }
    .fa{
      vertical-align: middle;
    }
  }
  &__credit-number {
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
  }
}
