%li
  = link_to exhibited_items_path, class: "mypage-contents-list__link" do
    %figure
      %img.app-icon{ alt: "", src: "assets/mypage_back.jpg", width: 48, height: 48}
    .mypage-contents-body
      .mypage-contents-body__text 事務局から個別メッセージ「ログイン通知」
      %time
        = fa_icon 'clock', class: 'clocks-icon'
        %span 1時間前
    = fa_icon 'chevron-right'


