= render 'module/header'
= render 'module/slider'
.index-wrapper
  .body
    .body__wrapper
      .category-contents
        %h2.category-contents__title 人気カテゴリ
        .category-lists
          %ul.category-type
            %li.category-list
              %a.category-ladies レディース
            %li.category-list
              %a.category-mens メンズ
            %li.category-list
              %a.category-appliances 家電・スマホ・カメラ
            %li.category-list
              %a.category-children おもちゃ・ホビー・グッズ
      .item-contents
        .item-contents__mein
          .item-contents__mein__title
            %h3.item-contents__name レディース新着アイテム
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "see" do
              もっと見る

              -# %i.fas.fa-chevron-right
              -# = fa_icon 'chevron-right'

          =render 'module/items'
      .item-contents
        .item-contents__mein
          .item-contents__mein__title
            %h3.item-contents__name メンズ新着アイテム
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "see" do
              もっと見る

              -# %i.fas.fa-chevron-right

              -# = fa_icon 'chevron-right'

          =render 'module/items'
      .item-contents
        .item-contents__mein
          .item-contents__mein__title
            %h3.item-contents__name 家電・スマホ・カメラ新着アイテム
            =link_to "#", class: "see" do
              もっとみる

              -# %i.fas.fa-chevron-right

              -# = fa_icon 'chevron-right'

          =render 'module/items'
      .item-contents
        .item-contents__mein
          .item-contents__mein__title
            %h3.item-contents__name おもちゃ・ホビー・グッズ新着アイテム
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "see" do
              もっと見る

              -# %i.fas.fa-chevron-right

              -# = fa_icon 'chevron-right'

          =render 'module/items'
    
      .category-contents
        %h2.category-contents__title 人気ブランド
        .category-lists
          %ul.category-type
            %li.category-list
              %a.category-ladies シャネル
            %li.category-list
              %a.category-mens ルイヴィトン
            %li.category-list
              %a.category-appliances シュプリーム
            %li.category-list
              %a.category-children ナイキ
      .item-contents
        .item-contents__mein
          .item-contents__mein__title
            %h3.item-contents__name シャネル新着アイテム
            =link_to "#", class: "see" do
              もっと見る

              -# %i.fas.fa-chevron-right

              -# = fa_icon 'chevron-right'

          =render 'module/items'
      ////////////ルイヴィトン新着///////////////
      .item-contents
        .item-contents__mein
          .item-contents__mein__title
            %h3.item-contents__name ルイヴィトン新着アイテム
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "see" do
              もっと見る

              -# %i.fas.fa-chevron-right

              -# = fa_icon 'chevron-right'

          =render 'module/items'
      ////////////シュプリーム新着///////////////
      .item-contents
        .item-contents__mein
          .item-contents__mein__title
            %h3.item-contents__name シュプリーム新着アイテム
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "see" do
              もっと見る

              -# %i.fas.fa-chevron-right

              -# = fa_icon 'chevron-right'

          =render 'module/items'
      ///////////ナイキ新着////
      .item-contents
        .item-contents__mein
          .item-contents__mein__title
            %h3.item-contents__name ナイキ新着アイテム
            =link_to "https://item.mercari.com/jp/m87552858444/", class: "see" do
              もっと見る

              -# %i.fas.fa-chevron-right

              -# = fa_icon 'chevron-right'
          =render 'module/items'
= render 'module/footer'
= render "module/right_btn"