= render partial: "module/header"


-if user_signed_in? && current_user.id == @item.user_id
  = render partial: "current_user"

-else
  = render partial: "nocurrent_user"

= render partial: "module/footer"