= render partial: "module/header"


-if user_signed_in? && current_user.id == @item.user_id
  = render partial: "current_user_show"

-else
  = render partial: "nocurrent"

= render partial: "module/footer"