%nav.breadcrumbs
  %ul
    %li{ itemscope: "", itemtype: "#"}
      %a{ href: "#", itemprop: "url"}
        %span{ itemprop: "title"}
          メルカリ
      %i.fas.fa-chevron-right
    %li{ itemscope: "", itemtype: "#"}
      %span{ itemprop: "title"}
        マイページ
      %i.fas.fa-chevron-right
    %li{ itemscope: "", itemtype: "#"}
      %span{ itemprop: "title"}
        支払い方法

%main.container
  .credit-registration-container
    %section.credit-registration-content
      %h2 支払い方法
      .credit-content-wrapper
        %section
          .credit-content-wrapper__title
            %h3 クレジットカード一覧
          %ul.credit-data-wrapper
            %li
              %form.credit-data-content
                %figure
                  %img{ src: "assets/visa.jpg", width: "49", height: "20", alt: "visa"}
                .credit-data-content__number
                  ************1212
                .credit-data-content__date
                  08 / 23
                %button.credit-data-content__delete{ type: "submit" }
                  削除する
        .method-payment
          %a{ href: "#", target: "_blank" }
            %span 支払い方法について
            %i.fas.fa-chevron-right
  
  .content-left
    %nav.nav-wrapper
      %ul.nav-mypage
        %li
          %a.nav-mypage__item{ href: ""}
            マイページ
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            お知らせ
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            やることリスト
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            いいね一覧
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品する
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品した商品-出品中
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品した商品-取引中
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品した商品-売却済み
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            購入した商品ー取引中
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            購入した商品-過去の取引
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            ニュース一覧
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            評価一覧
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            ガイド
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            お問い合わせ
            %i.fas.fa-chevron-right

        %h3.nav-mypage__head メルペイ
        %ul.nav-mypage
          %li
            %a.nav-mypage__item{ href: ""}
              売上・振込申請
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              ポイント
              %i.fas.fa-chevron-right

        %h3.nav-mypage__head 設定
        %ul.nav-mypage
          %li
            %a.nav-mypage__item{ href: ""}
              プロフィール
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              発送元・お届け先住所変更
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              支払い方法
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              メール/パスワード
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              本人情報
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              電話番号の確認
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              ログアウト
              %i.fas.fa-chevron-right