%nav.breadcrumbs
  %ul
    %li{ itemscope: "", itemtype: "#"}
      %a{ href: "#", itemprop: "url"}
        %span{ itemprop: "title"}
          メルカリ
        %i.fas.fa-chevron-right
    %li{ itemscope: "", itemtype: "#"}
      %span{ itemprop: "title"}
        マイページ
      %i.fas.fa-chevron-right
    %li{ itemscope: "", itemtype: "#"}
      %span{ itemprop: "title"}
        本人情報の登録

%main.container
  .personal-container
    %section.personal-content
      %h2 本人情報の登録
      %form
        .personal-content__text
          %p
            お客様の本人情報をご登録ください。
            %br
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.text__link
            %a{ href: "#", target: "_blank"}
              本人確認書類のアップロードについて
              %i.fas.fa-chevron-right

        .personal-content__info
          %label
            お名前
          %p
            金子俊
        .personal-content__info
          %label
            お名前
          %p
            金子俊
        .personal-content__info
          %label{ for: "birthday" }
            生年月日
          %p
            1995/01/30
        .personal-content__info
          %label{ for: "postal-code" }
          %span.any
            任意
          %input.default-value{ type: "text", value: "", name: "postal-code", placeholder: "例) 1234567" }
        .personal-content__info
          %label{ for: "prefecture" }
            都道府県
          %span.any
            任意
          .select-prefecture
            %i.fas.fa-chevron-down
            %select.select-default-value{ name: "prefecture"}
              %option --
              %option 北海道
              %option 青森県
              %option 岩手県
              %option 宮城県
              %option 秋田県
              %option 山形県
              %option 福島県
              %option 東京都
              %option 神奈川県
              %option 埼玉県
              %option.selected 千葉県
              %option 茨城県
              %option 栃木県
              %option 群馬県
              %option 山梨県
              %option 新潟県
              %option 長野県
              %option 富山県
              %option 石川県
              %option 福井県
              %option 愛知県
              %option 岐阜県
              %option 静岡県
              %option 三重県
              %option 大阪府
              %option 兵庫県
              %option 京都府
              %option 滋賀県
              %option 奈良県
              %option 和歌山県
              %option 鳥取県
              %option 島根県
              %option 岡山県
              %option 広島県
              %option 山口県
              %option 徳島県
              %option 香川県
              %option 愛媛県
              %option 高知県
              %option 福岡県
              %option 佐賀県
              %option 長崎県
              %option 熊本県
              %option 大分県
              %option 宮崎県
              %option 鹿児島県
              %option 沖縄県
        .personal-content__info
          %label{ for: "city" }
            市区町村
          %span.any
            任意
          %input.default-value{ type: "text", value: "", name: "city", placeholder: "例) 横浜市緑区" }
        .personal-content__info
          %label{ for: "address_label"}
            番地
          %span.any
            任意
          %input.default-value{ type: "text", value: "", name: "address", placeholder: "例) 青山1-1-1" }
        .personal-content__info
          %label{ for: "building_label" }
            建物名
          %span.any
            任意
          %input.default-value{ type: "text", value: "", name: "building", placeholder: "例) 柳ビル103" }
        %button.btn-default-value.btn-color-red{ type: "submit" }
          登録する
      .personal-content__link
        %p
          %a{ href: "#", target: "_blank" }
            本人情報の登録について
            %i.fas.fa-chevron-right

  .content-left
    %nav.nav-wrapper
      %ul.nav-mypage
        %li
          %a.nav-mypage__item{ href: ""}
            マイページ
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            お知らせ
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            やることリスト
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            いいね一覧
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品する
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品した商品-出品中
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品した商品-取引中
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品した商品-売却済み
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            購入した商品ー取引中
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            購入した商品-過去の取引
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            ニュース一覧
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            評価一覧
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            ガイド
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            お問い合わせ
            %i.fas.fa-chevron-right

        %h3.nav-mypage__head メルペイ
        %ul.nav-mypage
          %li
            %a.nav-mypage__item{ href: ""}
              売上・振込申請
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              ポイント
              %i.fas.fa-chevron-right

        %h3.nav-mypage__head 設定
        %ul.nav-mypage
          %li
            %a.nav-mypage__item{ href: ""}
              プロフィール
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              発送元・お届け先住所変更
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              支払い方法
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              メール/パスワード
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              本人情報
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              電話番号の確認
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              ログアウト
              %i.fas.fa-chevron-right
        


