%nav.breadcrumbs
  %ul
    %li{ itemscope: "", itemtype: "#"}
      %a{ href: "#", itemprop: "url"}
        %span{ itemprop: "title"}
          メルカリ
      %i.fas.fa-chevron-right
    %li{ itemscope: "", itemtype: "#"}
      %span{ itemprop: "title"}
        マイページ
      %i.fas.fa-chevron-right
    %li{ itemscope: "", itemtype: "#"}
      %span{ itemprop: "title"}
        プロフィール
%main.container
  .profile-edit-container
    %section.profile-edit-content
      %h2.profile-edit-title
        プロフィール
      %form.profile-edit-wrapper
        .profile-edit-wrapper__upper
          %figure
            %img{ src: "assets/icon.jpg", width: "60", height: "60" }
          %input{ type: "text", value: "SUGURU", name: "nickname", placeholder: "例) AYA　セール中"}
        .profile-edit-wrapper__bottom
          %textarea.profile-edit-wrapper__textarea{ name: "self-introduction", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
            こんにちは！！
            ああ
            ああ
            ああ
            ああ
            ああ
            ああ
            ああ
            あああ
            あああ
            ああ
            よろしくお願いします。
            こんばんは！
            よろしくお願いします。。。。。。
            おはようございます！
            ああああああ
            あああ
            あああ
            あああ
            あああ
            あああ

            よろしくお願いします！！！！！！！！！！！！！！！！！！！！！！！！！！！
          %button.btn-default-value.btn-color-red{ type: "submit" }
            変更する

  .content-left
    %nav.nav-wrapper
      %ul.nav-mypage
        %li
          %a.nav-mypage__item{ href: ""}
            マイページ
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            お知らせ
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            やることリスト
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            いいね一覧
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品する
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品した商品-出品中
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品した商品-取引中
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            出品した商品-売却済み
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            購入した商品ー取引中
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            購入した商品-過去の取引
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            ニュース一覧
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            評価一覧
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            ガイド
            %i.fas.fa-chevron-right
        %li
          %a.nav-mypage__item{ href: ""}
            お問い合わせ
            %i.fas.fa-chevron-right

        %h3.nav-mypage__head メルペイ
        %ul.nav-mypage
          %li
            %a.nav-mypage__item{ href: ""}
              売上・振込申請
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              ポイント
              %i.fas.fa-chevron-right

        %h3.nav-mypage__head 設定
        %ul.nav-mypage
          %li
            %a.nav-mypage__item{ href: ""}
              プロフィール
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              発送元・お届け先住所変更
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              支払い方法
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              メール/パスワード
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              本人情報
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              電話番号の確認
              %i.fas.fa-chevron-right
          %li
            %a.nav-mypage__item{ href: ""}
              ログアウト
              %i.fas.fa-chevron-right

      