.body
  .mein-body
    .top-body
      %a{href: :"https://www.mercari.com/jp/featured/camp/"}
        .top-body__photo
    .category-contents
      %h2.category-contents__title 人気カテゴリ
      .category-lists
        %ul.category-type
          %li.category-list
            %a.category-ladies レディース
          %li.category-list
            %a.category-mens メンズ
          %li.category-list
            %a.category-appliances 家電・スマホ・カメラ
          %li.category-list
            %a.category-children おもちゃ・ホビー・グッズ
    .item-contents
      .item-contents__mein
        .item-contents__mein__title
          %h3.item-contents__name レディース新着アイテム
          %a.see{:href => "#"}
            もっと見る
            %i.fas.fa-chevron-right
        .item-container
          %ul.item-container__lists
            %li.item-container__lists__list
              .item-box
                %a.item-link{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
    ///////////////////メンズ//////////////
    .item-contents
      .item-contents__mein
        .item-contents__mein__title
          %h3.item-contents__name メンズ新着アイテム
          %a.see{:href => "#"}
            もっと見る
            %i.fas.fa-chevron-right
        .item-container
          %ul.item-container__lists
            %li.item-container__lists__list
              .item-box
                %a.item-link{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
    /////////////////家電///
    .item-contents
      .item-contents__mein
        .item-contents__mein__title
          %h3.item-contents__name 家電・スマホ・カメラ新着アイテム
          %a.see{:href => "#"}
            もっと見る
            %i.fas.fa-chevron-right
        .item-container
          %ul.item-container__lists
            %li.item-container__lists__list
              .item-box
                %a.item-link{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
        ///////おもちゃ////
    .item-contents
      .item-contents__mein
        .item-contents__mein__title
          %h3.item-contents__name おもちゃ・ホビー・グッズ新着アイテム
          %a.see{:href => "#"}
            もっと見る
            %i.fas.fa-chevron-right
        .item-container
          %ul.item-container__lists
            %li.item-container__lists__list
              .item-box
                %a.item-link{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
    /////////////人気ブランド///////////
    .category-contents
      %h2.category-contents__title 人気ブランド
      .category-lists
        %ul.category-type
          %li.category-list
            %a.category-ladies シャネル
          %li.category-list
            %a.category-mens ルイヴィトン
          %li.category-list
            %a.category-appliances シュプリーム
          %li.category-list
            %a.category-children ナイキ
    ////////////シャネル新着///////////////
    .item-contents
      .item-contents__mein
        .item-contents__mein__title
          %h3.item-contents__name シャネル新着アイテム
          %a.see{:href => "#"}
            もっと見る
            %i.fas.fa-chevron-right
        .item-container
          %ul.item-container__lists
            %li.item-container__lists__list
              .item-box
                %a.item-link{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
    ////////////ルイヴィトン新着///////////////
    .item-contents
      .item-contents__mein
        .item-contents__mein__title
          %h3.item-contents__name ルイヴィトン新着アイテム
          %a.see{:href => "#"}
            もっと見る
            %i.fas.fa-chevron-right
        .item-container
          %ul.item-container__lists
            %li.item-container__lists__list
              .item-box
                %a.item-link{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
    ////////////シュプリーム新着///////////////
    .item-contents
      .item-contents__mein
        .item-contents__mein__title
          %h3.item-contents__name シュプリーム新着アイテム
          %a.see{:href => "#"}
            もっと見る
            %i.fas.fa-chevron-right
        .item-container
          %ul.item-container__lists
            %li.item-container__lists__list
              .item-box
                %a.item-link{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
    ///////////ナイキ新着////
    .item-contents
      .item-contents__mein
        .item-contents__mein__title
          %h3.item-contents__name ナイキ新着アイテム
          %a.see{:href => "#"}
            もっと見る
            %i.fas.fa-chevron-right
        .item-container
          %ul.item-container__lists
            %li.item-container__lists__list
              .item-box
                %a.item-link{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
            %li.item-container__lists__list
              .item-box
                %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
                  %figure.item-descrube
                    %figcaption
                      %span
                        INED ニットジャンパースカート ワンピース
                    .item-price
                      %span{"aria-label": "Price"}
                        ¥
                        5000
                      %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
