.header
  .main-header
    .top-header
      .top-header__icon
        %p mercari
      %form.top-header__serach
        %input.top-header__input/
    .bottom-header
      .bottom-header__search
        .bottom-header__search__category
          %a.bottom-header__search__category__a
            %p カテゴリーから探す
        .bottom-header__search__category
          %p ブランドから探す
      %ul.bottom-header__user__nav
        %i.fa.fa-image.icon
        %li.bottom-header__user__nav__list
          お知らせ
        %i.fa.fa-image.icon
        %li.bottom-header__user__nav__list
          やることリスト
        %li.bottom-header__user__nav__list
          マイページ
