/*  step3 */


.add_content{
  width:700px;
  height:100%;
  background-color:#fff;
  text-align: center;
  margin: 0 auto;
  &__box{
    height:120px;
    background-color:#fff;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom:2px solid #ddd;
    position: relative;
    &__text{
      height:120px;
      font-size:24px;
      font-weight:bold;
      text-align: center;
      line-height: 128px;
    }
  }
}

.form-address{
  width:700px;
  padding: 40px 40px 64px;
  background-color:#fff;
  margin: 0 auto;
  box-sizing: border-box;
  &__field{
    width: 343px;
    margin: 0 auto;
    padding-top:40px;
    text-align: center;
    &__addname{
      height: 70px;
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float:left;
        font-size:12px;
        padding:2px 4px;
        margin:4px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
        height: 17px;
      }
      &__box3{
        clear: both;
        height:40px;
        width:343px;
      }
      
    }
    &__addnameruby{
      margin-top:65px;
      height: 70px;
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float:left;
        font-size:12px;
        padding:2px 4px;
        margin:4px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
        height: 17px;
      }
      &__box3{
        margin-top:10px;
        clear: both;
      }
    }
    &__post_number{
      margin-top:80px;
      height: 70px;
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float:left;
        font-size:12px;
        padding:2px 4px;
        margin:4px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
        height: 17px;
      }
      &__box3{
        clear: both;
      }
    }
    &__prefecture{
      margin-top:32px;
      height: 70px;
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float:left;
        font-size:12px;
        padding:2px 4px;
        margin:4px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
        height: 17px;
      }
      &__box3{
        clear: both;
      }
    }
    &__city{
      margin-top:32px;
      height: 70px;
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float:left;
        font-size:12px;
        padding:2px 4px;
        margin:4px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
        height: 17px;
      }
      &__box3{
        clear: both;
      }
    }
    &__house_number{
      margin-top:32px;
      height: 70px;
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float:left;
        font-size:12px;
        padding:2px 4px;
        margin:4px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
        height: 17px;
      }
      &__box3{
        clear: both;
      }
    }
    &__building_name{
      margin-top:32px;
      height: 70px;
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float:left;
        font-size:12px;
        padding:2px 4px;
        margin:4px 0 5px 8px;
        background-color: #ccc;
        border-radius: 2px;
        color: #fff;
        height: 17px;
      }
      &__box3{
        clear: both;
      }
    }
    &__phone_number{
      margin-top:32px;
      height: 70px;
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float:left;
        font-size:12px;
        padding:2px 4px;
        margin:4px 0 5px 8px;
        background-color: #ccc;
        border-radius: 2px;
        color: #fff;
        height: 17px;
      }
      &__box3{
        clear: both;
      }
    }
  }
}

input[id="user_nickname"]{
  width:343px;
  height:24px;
  margin-top:4px;
  padding:10px 0 8px 0;
  border-radius:4px;
  border: 1px solid #ccc;
}

input[type="email"]{
  width:343px;
  height:24px;
  margin-top:4px;
  padding:10px 0 8px 0;
  border-radius:4px;
  border: 1px solid #ccc;
}

input[type="text"]{
  width:343px;
  height:48px;
  margin-top:8px;
  padding:10px 0 8px 0;
  border-radius:4px;
  border: 1px solid #ccc;
}

input[class="password"]{
  width:343px;
  height:24px;
  margin-top:20px;
  padding:10px 0 8px 0;
  border:none;
  background-color: #ccc;
}

input[id="user_family_name"]{
  width:133.5px;
  height:24px;
  margin-right:8px;
  padding:10px 16px 8px ;
  border-radius:4px;
  border: 1px solid #ccc;
}

input[id="user_first_name"]{
  width:133.5px;
  height:24px;
  padding:10px 16px 8px;
  border-radius:4px;
  border: 1px solid #ccc;
}




.footer{
  width:100%;
  height:220px;
  background-color:#f5f5f5;
  &__content{
    width: 456px;
    height: 220px;
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
    position:relative;
    background-color: #f5f5f5;
    &__nav{
      font-size:12px;
      display: flex;
      &__li1{
        width:119px;
        margin-left:16px;
      }
      &__li2{
        width: 96px;
        margin-left:16px;
      }
      &__li3{
        width:132px;
        margin-left:16px;
      }
    }
    &__logo{
      margin:0 auto;
      vertical-align: middle;
      height: 135px;
      width: 95px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      
    }
    &__copyright{
      font-size:10px;
      height: 17px;
      top: 137px;
      position: relative;
    }
  }
}

.form__btn {
  margin: 42px 0 0;
}

.addfooter{
  width:100vw;
  height:calc(100vh - 500px);
  background-color: #fff;
  .addfooter{
    width: 100%;
    height: 220px;
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
    position:relative;
    background-color: #f5f5f5;
    &__nav{
      font-size:12px;
      display: inline-flex;
      margin: 0 auto;
      &__li1{
        width:119px;
        margin-left:16px;
      }
      &__li2{
        width: 96px;
        margin-left:16px;
      }
      &__li3{
        width:132px;
        margin-left:16px;
      }
    }
    &__logo{
      margin:0 auto;
      vertical-align: middle;
      height: 135px;
      width: 95px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      
    }
    &__copyright{
      font-size:12px;
      height: 17px;
      top: 137px;
      position: relative;
    }
  }
}


.log_body{
  width:100vw;
  height:100vh;
  background-color:#f5f5f5;
}


.log_main{
  width:700px;
  height:354px;
  margin:0 auto;
  background-color:#fff;
  &__top{
    text-align: center;
    padding:32px;
    font-size:22px;
    font-weight: bold;
    border-bottom:1px solid #f5f5f5;
  }
  &__center{
    padding:24px 16px 40px;
    height:247px;
    &__content{
      width:343px;
      height:247px;
      margin:0 auto;
      &__box1{
        height:50px;
        background-color:#EA352D;
        line-height:50px;
        color:#fff;
        border-radius: 4px;
        &__icon{
          float:left;
          font-size:26px;
          padding-left:10px;
        }
        &__text{
          text-align: center;
          font-size:14px;          
        }
      }
      &__box2{
        height:50px;
        background-color:#385185;
        line-height:50px;
        color:#fff;
        margin-top:16px;
        border-radius: 4px;
        &__icon{
          float:left;
          font-weight: 900;
          font-size:26px;
          padding-left:10px;
        }
        &__text{
          text-align: center;
          font-size:14px;          
        }
      }
      &__box3{
        height:50px;
        background-color:#fff;
        line-height:50px;
        color:#333;
        margin-top:16px;
        border:1px solid #333;
        border-radius: 4px;
        &__icon{
          float:left;
          font-size:26px;
          padding-left:10px;
        }
        &__text{
          text-align: center;
          font-size:14px;          
        }
      }
    }
  }
}



.log_footer{
  width:100%;
  height:220px;
  background-color:#f5f5f5;
  &__content{
    width: 456px;
    height: 220px;
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
    position:relative;
    background-color: #f5f5f5;
    &__nav{
      font-size:12px;
      display: flex;
      &__li1{
        width:119px;
        margin-left:16px;
      }
      &__li2{
        width: 96px;
        margin-left:16px;
      }
      &__li3{
        width:132px;
        margin-left:16px;
      }
    }
    &__logo{
      margin:0 auto;
      vertical-align: middle;
      height: 135px;
      width: 95px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      
    }
    &__copyright{
      font-size:10px;
      height: 17px;
      top: 137px;
      position: relative;
    }
  }
}
