.main{
  overflow: scroll;
  min-height: 100%;
  background-color: #f5f5f5;
}


/* header */

.header{
  width: 100vw;
  height: 128px;
  background-color: #f5f5f5;
  text-align: center;
  box-sizing: border-box;
  &__logo{
    width: 185px;
    height: 128px;
    vertical-align: middle;
    display: inline-block;
  }
  &__box{
    width:600px;
    position:relative;
    bottom:20px;
    padding-left: 44px;
    display: inline-block;
    &__ol{
      display:flex;
      margin-bottom:10px;
      &__li1{
        width: 70px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &:after{
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
        
      }
      &__li2{
        width: 110px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: #888;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li3{
        width: 150px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: #888;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li4{
        width: 90px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: #888;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li5{
        width: 70px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: #888;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
    }
  }
}
.header2{
  width: 100vw;
  height: 128px;
  background-color: #f5f5f5;
  text-align: center;
  box-sizing: border-box;
  &__logo{
    width: 185px;
    height: 128px;
    vertical-align: middle;
    display: inline-block;
  }
  &__box{
    width:600px;
    position:relative;
    bottom:20px;
    padding-left: 44px;
    display: inline-block;
    &__ol{
      display:flex;
      margin-bottom:10px;
      &__li1{
        width: 70px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &:after{
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
        
      }
      &__li2{
        width: 110px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li3{
        width: 150px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: #888;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li4{
        width: 90px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: #888;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li5{
        width: 70px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: #888;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
    }
  }
}
.header3{
  width: 100vw;
  height: 128px;
  background-color: #f5f5f5;
  text-align: center;
  box-sizing: border-box;
  &__logo{
    width: 185px;
    height: 128px;
    vertical-align: middle;
    display: inline-block;
  }
  &__box{
    width:600px;
    position:relative;
    bottom:20px;
    padding-left: 44px;
    display: inline-block;
    &__ol{
      display:flex;
      margin-bottom:10px;
      &__li1{
        width: 70px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &:after{
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
        
      }
      &__li2{
        width: 110px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li3{
        width: 150px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li4{
        width: 90px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: #888;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li5{
        width: 70px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: #888;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
    }
  }
}


.header4{
  width: 100vw;
  height: 128px;
  background-color: #f5f5f5;
  text-align: center;
  box-sizing: border-box;
  &__logo{
    width: 185px;
    height: 128px;
    vertical-align: middle;
    display: inline-block;
  }
  &__box{
    width:600px;
    position:relative;
    bottom:20px;
    padding-left: 44px;
    display: inline-block;
    &__ol{
      display:flex;
      margin-bottom:10px;
      &__li1{
        width: 70px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &:after{
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
        
      }
      &__li2{
        width: 110px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li3{
        width: 150px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li4{
        width: 90px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li5{
        width: 70px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: #888;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
    }
  }
}


.header5{
  width: 100vw;
  height: 128px;
  background-color: #f5f5f5;
  text-align: center;
  box-sizing: border-box;
  &__logo{
    width: 185px;
    height: 128px;
    vertical-align: middle;
    display: inline-block;
  }
  &__box{
    width:600px;
    position:relative;
    bottom:20px;
    padding-left: 44px;
    display: inline-block;
    &__ol{
      display:flex;
      margin-bottom:10px;
      &__li1{
        width: 70px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &:after{
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
        
      }
      &__li2{
        width: 110px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li3{
        width: 150px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li4{
        width: 90px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
      &__li5{
        width: 70px;
        height: 32px;
        margin-right:40px;
        &__text{
          font-weight: 600;
          font-size:12px;
          color: red;
          &__icon{
            width: 12px;
            height: 12px;
            margin:8 auto 0;
          }
        }
      }
    }
  }
}










/* body */


.form{
  width:700px;
  height:1083px;
  padding: 40px 40px 64px;
  background-color:#fff;
  margin: 0 auto;
  box-sizing: border-box;
  &__top{
    font-size: 22px;
    padding: 0 32px 32px 32px;
    text-align: center;
    line-height: 1.5;
    border-bottom: solid 1px #f5f5f5;
    &__text{
      font-family: "impact";
    }
  }
  &__field{
    width: 343px;
    margin: 0 auto;
    padding-top:40px;
    text-align: center;
    &__nickname{
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float: left;
        font-size: 12px;
        padding: 5px 4px;
        margin: 2px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
     }
    }
    &__mail{
      margin-top:32px;
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float: left;
        font-size: 12px;
        padding: 10px 4px 0;
        margin: 2px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
        line-height: 5px;     
      }
    }
    &__pass{
      margin-top:32px;
      height: 100px;
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float: left;
        font-size: 12px;
        padding: 10px 4px 0;
        margin: 2px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
        line-height: 5px;     
      }
      &__box3{
        margin-top: 10px;
      }
    }
    &__text{
      text-align: left;
      margin: 24px 0 0 0;
      &__top{
        font-size: 16px;
        font-weight: bold;
      }
      &__bottom{
        margin-top:5px;
        font-size:14px;
      }
    }
    &__name{
      margin-top:32px;
      height: 29px;
      text-align:left;      
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float: left;
        font-size: 12px;
        padding: 10px 4px 0;
        margin: 2px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
        line-height: 5px;     
      }
    }
    &__namebox{
      display: inline-block;
      width:343px;
      &__box3{   
        float:left;
      }
      &__box4{
        float:left;       
      }
    }
    &__rubyname{
      margin-top:10px;
      height: 29px;
      text-align:left;      
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float: left;
        font-size: 12px;
        padding: 10px 4px 0;
        margin: 2px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
        line-height: 5px;     
      }
    }
    &__rubynamebox{
      display: inline-block;
      width:343px;
      &__box3{   
        float:left;
      }
      &__box4{
        float:left;       
      }
    }
    &__birthdate{
      margin-top:32px;
      height: 70px;
      text-align:left;
      &__box1{
        font-weight: bold;
        font-size:14px;
        float:left;
        margin-top:5px;
      }
      &__box2{
        float: left;
        font-size: 12px;
        padding: 10px 4px 0;
        margin: 2px 0 5px 8px;
        background-color: #EA352D;
        border-radius: 2px;
        color: #fff;
        line-height: 5px;     
      }
      &__box3{
        clear:both;
        height:48px;
        display: inline;
        &__wrapper1{
          width:76px;
          height:48px;
        }
        &__wrapper2{
          font-size:20px;
          float:left;
          margin:40px;
        }
        &__wrapper3 {
          font-size: 10px;
        }
      }
      &__box4{
        font-size: 14px;
        color: #888;
        margin-top:8px;
      }
    }
    &__actions{
      height:50px;
      background-color: #EA352D;
      margin-top: 80px;
      color:#fff;

    }
    &__text-btn{
      text-align: right;
      font-size: 14px;
      margin-top: 32px;
      color: #0099e8;
    }
  }
}

.birthdate-wrapper {
  width: 386px;
  display: inline-block;
  .year {
    width: 76px;
    display: inline-block;
    margin: 8px 0 0;
    position: relative;
    background: #fff;
    &__icon {
      position: absolute;
      right: 12px;
      top: 50%;
      z-index: 2;
      color: #888;
      font-size: 8px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
    &__select {
      outline: 0;
      padding: 0 10px;
      width: 100%;
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
    }
  }
  .month {
    width: 76px;
    display: inline-block;
    margin: 8px 0 0;
    position: relative;
    background: #fff;
    &__icon {
      position: absolute;
      right: 12px;
      top: 50%;
      z-index: 2;
      color: #888;
      font-size: 8px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
    &__select {
      outline: 0;
      padding: 0 10px;
      width: 100%;
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
    }
  }
  .day {
    width: 76px;
    display: inline-block;
    margin: 8px 0 0;
    position: relative;
    background: #fff;
    &__icon {
      position: absolute;
      right: 12px;
      top: 50%;
      z-index: 2;
      color: #888;
      font-size: 8px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
    &__select {
      outline: 0;
      padding: 0 10px;
      width: 100%;
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
    }
  }
}



.form__btn{
  width:343px;
  height: 50px;
  color:  #fff;
  background-color: #EA352D;
  font-size: 20px;

}

input[id="user_nickname"]{
  width:343px;
  height:47px;
  margin-top:4px;
  padding:10px 0 8px 0;
  border-radius:4px;
  border: 1px solid #ccc;
}

input[type="email"]{
  width:343px;
  height:47px;
  margin-top:4px;
  padding:10px 0 8px 0;
  border-radius:4px;
  border: 1px solid #ccc;
}

input[type="password"]{
  width:343px;
  height:47px;
  margin-top:4px;
  padding:10px 0 8px 0;
  border-radius:4px;
  border: 1px solid #ccc;
}

input[class="password"]{
  width:343px;
  height:47px;
  margin-top:20px;
  padding:10px 0 8px 0;
  border:none;
  background-color: #ccc;
}

input[id="user_family_name"]{
  width:133.5px;
  height:47px;
  margin-right:8px;
  padding:10px 16px 8px ;
  border-radius:4px;
  border: 1px solid #ccc;
}

input[id="user_first_name"]{
  width:133.5px;
  height:47px;
  padding:10px 16px 8px;
  border-radius:4px;
  border: 1px solid #ccc;
}

input[id="user_family_name_ruby"]{
  width:133.5px;
  height:47px;
  margin-right:8px;
  padding:10px 16px 8px ;
  border-radius:4px;
  border: 1px solid #ccc;
}

input[id="user_first_name_ruby"]{
  width:133.5px;
  height:47px;
  padding:10px 16px 8px;
  border-radius:4px;
  border: 1px solid #ccc;
}

.footer{
  width: 456px;
  height: 220px;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
  position:relative;
  &__nav{
    font-size:12px;
    display: flex;
    &__li1{
      width:119px;
      margin-left:16px;
    }
    &__li2{
      width: 96px;
      margin-left:16px;
    }
    &__li3{
      width:132px;
      margin-left:16px;
    }
  }
  &__logo{
    margin:0 auto;
    vertical-align: middle;
    height: 135px;
    width: 95px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    
  }
  &__copyright{
    font-size:10px;
    height: 17px;
    top: 137px;
    position: relative;
  }
}


.personal_registration_about {
  text-align: right;
  color: #0099e8;
}


#realText {
  display: none;
}


// .birth_year{
//   width: 100%;
//   height: 48px;
//   padding: 0 16px;
//   border: 1px solid $selectbox;
//   background-color: white
// }

// .birth_month{
//   width: 76px;
//   height: 48px;
//   padding: 0 16px;
//   border: 1px solid $selectbox;
//   background-color: white
// }

// .birth_day{
//   width: 76px;
//   height: 48px;
//   padding: 0 16px;
//   border: 1px solid $selectbox;
//   background-color: white
// }
