.item-contents
  .item-contents__mein
    .item-contents__mein__title
      %h3.item-contents__name 家電・スマホ・カメラ新着アイテム
      %a.see{:href => "#"}
        もっと見る
        %i.fas.fa-chevron-right
    .item-container
      %ul.item-container__lists
        %li.item-container__lists__list
          .item-box
            %a.item-link{:href => "https://item.mercari.com/jp/m87552858444/"}
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
        %li.item-container__lists__list
          .item-box
            %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
        %li.item-container__lists__list
          .item-box
            %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
        %li.item-container__lists__list
          .item-box
            %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
        %li.item-container__lists__list
          .item-box
            %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
        %li.item-container__lists__list
          .item-box
            %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
        %li.item-container__lists__list
          .item-box
            %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
        %li.item-container__lists__list
          .item-box
            %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
        %li.item-container__lists__list
          .item-box
            %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/
        %li.item-container__lists__list
          .item-box
            %a.item-photo{:href => "https://item.mercari.com/jp/m87552858444/"}
              %figure.item-descrube
                %figcaption
                  %span
                    INED ニットジャンパースカート ワンピース
                .item-price
                  %span{"aria-label": "Price"}
                    ¥
                    5000
                  %img.item-photo{src: :"https://static.mercdn.net/item/detail/orig/photos/m92813707917_1.jpg?1550671403" }/