%h1 電話番号の確認
%p 携帯電話の番号
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :telephone
    = f.text_field :telephone, autofocus: true, autocomplete: "telephone"
